.subscribe {
    height: 80vh;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    overflow: hidden;
    background: url('https://www.neom.com/content/dam/neom/home-b2b/newsletter/home-b2b-newsletter-bg-v4.jpg');
    width: 100%;
    object-fit: cover;
    border-bottom: 2px solid yellowgreen;
}

.subscribe .input {
    padding: 30px;
    position: absolute;
    bottom: 80px;

}

.heading-input {
    margin-bottom: 40px;
}

.input-field {
    background-color: rgb(255, 255, 255);
    height: 40px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.input-field button {
    height: 40px;
    border-radius: 60px;
    width: 140px;
    background-color: #1d1f22;
    border: none;
    outline: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 400;
}

.input input {
    width: 100%;
    height: 40px;
    border-radius: 60px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
}